#footer-container {
    width: 25%;
    margin: 8% 37.5% 0 37.5%;
    align-items: center;
}

.social-icons {
    width: 35px;
}

#footer-rights {
    font-size: 12px;
    margin-bottom: 5%;
}

#footer-info-links-cont {
    justify-content: space-between;
}

#footer-social-links-cont {
    justify-content: center;
}

#footer-info-links-cont, #footer-social-links-cont {
    width: 100%;
    margin-bottom: 4%;
}

@media (max-width: 62em) {
    #footer-container {
        width: 50%;
        margin: 10% 25% 5% 25%;
        justify-content: center;
    }
}

@media (max-width: 43em) {  
    #footer-container {
        width: 80%;
        margin: 10% 10% 5% 10%;
        justify-content: space-between;
    }
}